@model Category
@{
    ViewData["Title"] = "New";
}

<div class="container mt-4">
    @if (TempData["sucessData"] != null)
    {

        <h3 style="color:brown">@TempData["sucessData"]</h3>
    }
    <h2>Create a New category</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="name"></label>
            <input asp-for="name" type="text" class="form-control" id="name" name="name" required>
        </div>
        

        <div class="form-group">

            <input type="file" asp-for="clientFile" onchange="loadFile(event)" />
            <img id="myImg" height="200" />
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <div class="text-end mt-3">
            <a class="btn btn-secondary" asp-controller="Items" asp-action="Index">back</a>
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var myImg = document.getElementById('myImg');
                myImg.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }

    </script>
}